DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

GOOGLE_CLIENT_ID="isi_client_id_google"

GOOGLE_CLIENT_SECRET="isi_client_secret_google"

AUTH_SECRET="isi_secret_aplikasi"

AUTH_URL="http://localhost:3000"

ADMIN_EMAILS="admin@gmail.com,dosen@gmail.com"
